html
{
    background-color: black;
}

img
{
    width: 930;
    height: 600;
    
}
#main
{
    background-color: white;
    padding: 0cm 1cm 1cm;
    padding-top: 10px;
}

h1
{
    color: white;
}
#footer
{
    
    text-align: center;
    color: white;
    font-size: 0.45cm;
}

a:hover
{
    color: orange;
    text-decoration: underline;
}
#no2
{
    color: white;
    font-size: 1.10em;
}